<!-- begin about -->
<section class="about">
  <div class="wrapper">
    <div class="about__inner">
      <div class="about__big-box">
        {{ mixins.icon("blue-box") }}
      </div>
      <h1 class="about__title">How it works?</h1>
      <div class="about__list-wrapper">
        <ul class="about__list">
          {% import "data/about-data.html" as data %}
          {% for i in range(0,3) %}
            <li class="about__item">
              {{ mixins.icon(data.list[i].icon) }}
              <p class="about__text">{{ data.list[i].text }}</p>
            </li>
          {% endfor %}
        </ul>
        <ul class="about__list">
          {% import "data/about-data.html" as data %}
          {% for i in range(3,6) %}
            <li class="about__item">
              {{ mixins.icon(data.list[i].icon) }}
              <p class="about__text">{{ data.list[i].text }}</p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
