<section class="footer">
  <div class="footer__background"></div>
  <div class="footer__wrapper">
    <ul class="footer__social-list">
      {% for item in ["facebook","instagram","youtube","vkontakte"] %}
        <li class="footer__social-item">
          <a href="#" class="footer__social-link" aria-label="{{ item }}">
            {{ mixins.icon(item) }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <ul class="footer__info-list">
      {% for item in ["Cookies","Privacy Policy"] %}
        <li class="footer__info-item">
          <a href="#" class="footer__info-link">{{ item }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
