<!-- Footer begin -->
<footer class="footer">
  <div class="footer__inner">
    <div class="footer__box-cyan">
      {{ mixins.icon("cyan-box") }}
    </div>
    <div class="footer__box-blue">
      {{ mixins.icon("blue-box") }}
    </div>
    <div class="footer__top">
      <div class="footer__telegram">
        {% for item in ["bot", "group", "channel"] %}
          <a href="#" class="footer__button-telegram button button--telegram">Telegram {{ item }}</a>
        {% endfor %}
        <a href="mailto:support@neurobot.trading" class="footer__email-link">support@neurobot.trading</a>
      </div>
      <form class="footer__subscribe">
        <h3 class="footer__subscribe-title">Subscribe <br/>
          <span class="footer__subscribe-title--thin">to our news</span>
        </h3>
        <div class="footer__email-wrapper">
          <input type="email" class="footer__email" placeholder="e-mail"/>
        </div>
        <a href="" class="footer__button-mail button">Subscribe</a>
      </form>
    </div>
    <div class="footer__bottom">
      <div class="footer__social">
        <ul class="footer__list">
          {% for item in ["facebook","instagram","youtube","vkontakte"] %}
            <li class="footer__item">
              <a href="#" class="footer__social-link" aria-label="{{ item }}">
                {{ mixins.icon(item) }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="footer__info">
        <a href="#" class="footer__link">Cookies</a>
        <a href="#" class="footer__link">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
