<!-- begin graph -->
<section class="graph">
  <div class="graph__header">
    <div class="graph__box">
      {{ mixins.icon("blue-box") }}
    </div>
    <div class="graph__big-box">
      {{ mixins.icon("blue-box") }}
    </div>
    <div class="wrapper wrapper--big">
      <h2 class="graph__title">Popular forecasts</h2>
      <p class="graph__description">The forecasts are updated every 30 minutes</p>
      <ul class="graph__buttons">
        {% for btn in ["btc","ltc","eth","xrp","dash","xmr"] %}
          <li class="graph__item">
            <button class="graph__button button button--rectangle" id="{{ btn }}">{{ btn }}</button>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="graph__content">
    <div class="graph__stat">
      <p class="graph__stat-currency">Xrp/Usd</p>
      <div class="graph__stat-item">
        <p class="graph__stat-title">now</p>
        <p class="graph__stat-value">12,550</p>
      </div>
      <div class="graph__stat-item">
        <p class="graph__stat-title">24 hours</p>
        <p class="graph__stat-value">12,550</p>
        <p class="graph__stat-change">^ 317.00 (51.0%)</p>
      </div>
    </div>
  </div>
</section>
