<!-- Begin guide -->
<section class="guide">
  <div class="guide__background"></div>
  <div class="guide__wrapper">
    <h2 class="guide__title title title_lg title_blue">How to add NEB Tokens <br/> to your wallet?</h2>
    {% import "data/guide-data.html" as data %}
    <ul class="guide__list">
      {% for item in data.list %}
        <li class="guide__item">
          <p class="guide__text">{{ item.text }}</p>
          <img src="img/{{ item.image }}" alt="guide image" class="guide__image"/>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
