<!-- begin hero -->
<section class="hero">
  <div class="hero__background">
    <div class="hero__inner">
      <div class="hero__box">
        {{ mixins.icon("cyan-box") }}
      </div>
      <div class="hero__box-blurred">
        {{ mixins.icon("cyan-box")  }}
      </div>
    </div>
  </div>
  <div class="hero__inner">
    <div class="hero__text">
      <img src="./img/robot.png" alt="robot" class="hero__image"/>
      <div class="hero__title-wrapper">
        <h2 class="hero__title">Forecasting Exchange Rates</h2>
        <p class="hero__description">of Cryptocurrencies <br/> by Neural Network Algorithm</p>
        <a href="#" class="hero__button button">Join Free For 3 Days</a>
      </div>
    </div>
    <div class="hero__video">

      <div class="hero__video-container">
        <button class="hero__video-play" aria-label="Play button"></button>
      </div>
    </div>
  </div>
</section>
