<!-- begin news -->
<section class="news">
  <div class="news__inner">
    <div class="news__box-blurred">
      {{ mixins.icon("cyan-box") }}
    </div>
    <h2 class="news__title">Latest news</h2>
    {% import "data/news-data.html" as data %}
    <ul class="news__list">
      {% for item in data.list %}
        <li class="news__item">
          <div class="news__image-wrapper">
            <img src="#" alt="Image" class="news__image"/>
          </div>
          <h3 class="news__item-title">{{ item.title }}</h3>
          <p class="news__description">{{ item.text }}</p>
        </li>
      {% endfor %}
    </ul>
    <button class="news__button button">Load more</button>
  </div>
</section>
