<!-- Roadmap begin -->
<section class="roadmap">
  <div class="roadmap__bg"></div>
  <div class="roadmap__wrapper">
    <h2 class="roadmap__title title title_white">
      Roadmap<br/>
      <span class="roadmap__title-small">2017-2018</span>
    </h2>
    {% import "data/roadmap-data.html" as data %}
    {#first roadmap block#}
    <ul class="roadmap__list">
      <li class="roadmap__item roadmap__item_decorative roadmap__decorative_first"></li>
      <li class="roadmap__item roadmap__item_white">
        <div class="roadmap__date roadmap__date-left">
          {{ mixins.icon("roadmap-point-left") }}
          <div class="roadmap__date-text">
            <p class="roadmap__date-month">{{ data.list[0].month }}</p>
            <p class="roadmap__date-year">{{ data.list[0].year }}</p>
          </div>
        </div>
        <div class="roadmap__icon">
          {{ mixins.icon(data.list[0].theme) }}
        </div>
        <div class="roadmap__textarea">
          <h3 class="roadmap__item-title">{{ data.list[0].title }}</h3>
          <p class="roadmap__item-description">{{ data.list[0].text }}</p>
        </div>
      </li>
      <li class="roadmap__item">
        <div class="roadmap__date roadmap__date-left">
          {{ mixins.icon("roadmap-point-left") }}
          <div class="roadmap__date-text">
            <p class="roadmap__date-month">{{ data.list[1].month }}</p>
            <p class="roadmap__date-year">{{ data.list[1].year }}</p>
          </div>
        </div>
        <div class="roadmap__icon">
          {{ mixins.icon(data.list[1].theme) }}
        </div>
        <div class="roadmap__textarea">
          <h3 class="roadmap__item-title">{{ data.list[1].title }}</h3>
          <p class="roadmap__item-description">{{ data.list[1].text }}</p>
        </div>
      </li>
      {#second roadmap block#}
      <li class="roadmap__item roadmap__item_decorative roadmap__decorative_second"></li>
      <li class="roadmap__item">
        <div class="roadmap__date roadmap__date-right">
          {{ mixins.icon("roadmap-point-right") }}
          <div class="roadmap__date-text">
            <p class="roadmap__date-month">{{ data.list[2].month }}</p>
            <p class="roadmap__date-year">{{ data.list[2].year }}</p>
          </div>
        </div>
        <div class="roadmap__icon">
          {{ mixins.icon(data.list[2].theme) }}
        </div>
        <div class="roadmap__textarea">
          <h3 class="roadmap__item-title">{{ data.list[2].title }}</h3>
          <p class="roadmap__item-description">{{ data.list[2].text }}</p>
        </div>
      </li>
      <li class="roadmap__item">
        <div class="roadmap__date roadmap__date-right">
          {{ mixins.icon("roadmap-point-right") }}
          <div class="roadmap__date-text">
            <p class="roadmap__date-month">{{ data.list[3].month }}</p>
            <p class="roadmap__date-year">{{ data.list[3].year }}</p>
          </div>
        </div>
        <div class="roadmap__icon">
          {{ mixins.icon(data.list[3].theme) }}
        </div>
        <div class="roadmap__textarea">
          <h3 class="roadmap__item-title">{{ data.list[3].title }}</h3>
          <p class="roadmap__item-description">{{ data.list[3].text }}</p>
        </div>
      </li>
      {#third roadmap block#}
      <li class="roadmap__item roadmap__item_decorative roadmap__decorative_third"></li>
      <li class="roadmap__item">
        <div class="roadmap__date roadmap__date-left">
          {{ mixins.icon("roadmap-point-left") }}
          <div class="roadmap__date-text">
            <p class="roadmap__date-month">{{ data.list[4].month }}</p>
            <p class="roadmap__date-year">{{ data.list[4].year }}</p>
          </div>
        </div>
        <div class="roadmap__icon">
          {{ mixins.icon(data.list[4].theme) }}
        </div>
        <div class="roadmap__textarea">
          <h3 class="roadmap__item-title">{{ data.list[4].title }}</h3>
          <p class="roadmap__item-description">{{ data.list[4].text }}</p>
        </div>
      </li>
      <li class="roadmap__item">
        <div class="roadmap__date roadmap__date-left">
          {{ mixins.icon("roadmap-point-left") }}
          <div class="roadmap__date-text">
            <p class="roadmap__date-month">{{ data.list[5].month }}</p>
            <p class="roadmap__date-year">{{ data.list[5].year }}</p>
          </div>
        </div>
        <div class="roadmap__icon">
          {{ mixins.icon(data.list[5].theme) }}
        </div>
        <div class="roadmap__textarea">
          <h3 class="roadmap__item-title">{{ data.list[5].title }}</h3>
          <p class="roadmap__item-description">{{ data.list[5].text }}</p>
        </div>
      </li>
      <li class="roadmap__item roadmap__item_decorative roadmap__decorative_last"></li>

    </ul>
  </div>
</section>






