<div class="tokens-boxes">
  <div class="tokens-boxes__wrapper">
    <div class="tokens-boxes__cyan-first box">
      {{ mixins.icon("cyan-box") }}
    </div>
    <div class="tokens-boxes__cyan-second box">
      {{ mixins.icon("cyan-box") }}
    </div>
    <div class="tokens-boxes__cyan-blurred-first box box_blurred-md">
      {{ mixins.icon("cyan-box") }}
    </div>
    <div class="tokens-boxes__cyan-blurred-second box box_blurred-lg">
      {{ mixins.icon("cyan-box") }}
    </div>
    <div class="tokens-boxes__blue-first box box__md">
      {{ mixins.icon("blue-box") }}
    </div>
  </div>
</div>
