{% set
  list = [
  {
    icon: 'network',
    text: 'The neural network collects and analyses data 24/7 and provides forecasts for various cryptocurrencies’ exchange rates. There are three types of forecasts: for 24 hours, for 48 hours and for one week. Depending on the type of forecast and the chosen cryptocurrency, the accuracy of the forecast spans within the range of 70-90%.'
  },
  {
    icon: 'clock',
    text: 'The analysis takes less than a second and comprises the essental aspects \ of technical analysis, such as technical analysis paterns and signal indicators.'
  },
  {
    icon: 'trio-dots',
    text: 'The program will be further enriched by introducing the remaining elements of technical analysis (Fibonacci retracement, Elliot wave theory) and fundamental analysis, which will include news analysis to determine the positve and negatve tendencies of the market.'
  },
  {
    icon: 'case',
    text: 'The project is targeted at traders with any level of preparaton and experience. Traders no longer have to be aware of every miniscule detail of technical analysis, wastng tme and efort trying to make their skills and knowledge deeper and more specifc. It facilitates the work of professional traders, allows them to channel their strength into the realizaton of even more worthwhile and important projects and opens up possibilites for the newcomers, who are just entering the exchange trade, serving as a powerful and reliable aid in their actvity.'
  },
  {
    icon: 'cpu',
    text: 'NeuroBot’s algorithm is based on LSTM-network (Long short-term memory) coupled with Gradient Boosting - another machine learning technique.'
  },
  {
    icon: 'diagramm',
    text: 'Thanks to the abilites of neural networks, NeuroBot is constantly learning to beter correspond to the state of the market, to make more accurate forecasts and improve the quality of the resultng work. '
  }
]
%}
