{% set
  list = [
  {
    title: 'Why the graphic predictions for the 24 hours differs from that of the 48 hour and the weekly?',
    text: 'Since this is an alpha version of the NeuroBot, we use different algorithms to predict the rates of cryptocurrencies for 24 hours, 48 hours and a week. Soon we will implement a unified algorithm for all charts and in the next few updates the graphics will not be different.'
  },
  {
    title: 'What is the charts time zone?',
    text: 'Since this is an alpha version of the NeuroBot, we use different algorithms to predict the rates of cryptocurrencies for 24 hours, 48 hours and a week. Soon we will implement a unified algorithm for all charts and in the next few updates the graphics will not be different.'
  },
  {
    title: 'How accurate are the forecasts?',
    text: 'Since this is an alpha version of the NeuroBot, we use different algorithms to predict the rates of cryptocurrencies for 24 hours, 48 hours and a week. Soon we will implement a unified algorithm for all charts and in the next few updates the graphics will not be different.'
  },
  {
    title: 'Why are the graphics of the forecasts so inconvenient?',
    text: 'Since this is an alpha version of the NeuroBot, we use different algorithms to predict the rates of cryptocurrencies for 24 hours, 48 hours and a week. Soon we will implement a unified algorithm for all charts and in the next few updates the graphics will not be different.'
  },
  {
    title: 'What is the most accurate forecast?',
    text: 'Since this is an alpha version of the NeuroBot, we use different algorithms to predict the rates of cryptocurrencies for 24 hours, 48 hours and a week. Soon we will implement a unified algorithm for all charts and in the next few updates the graphics will not be different.'
  }
]
%}
