{% set
  list=[
  {
    text:"You will need to use myetherwallet.com or any similar wallet which supports ERC20 Token.",
    image: "guide-one.jpg"
  },
  {
    text:"To start with, create wallet account and use a password.Keystore File is generated automatically, then you’ll need to save all information in a secure place!",
    image: "guide-two.jpg"
  },
  {
    text:"Go to the View Wallet Info section authorize via select the Keystore File (UTC / JSON) or any other method of authorization you have chosen.",
    image: "guide-three.jpg"
  },
  {
    text:"Enter your File and previously saved password.",
    image: "guide-four.jpg"
  },
  {
    text:"Go to View Wallet info section, authorize same way you did it before and proceed to add the NEB Token.",
    image: "guide-five.jpg"
  }
] %}
