{% set
  list = [
  {
    title: "Elliott wave theory",
    text: "The algorithm will take into account the Elliott wave in the forecast. Adding new currencies. General improvement of the algorithm.",
    theme: "roadmap-graph",
    month: "10",
    year: "2017"

  },
  {
    title: "Basic analysis of news",
    text: "Accounting for news in the forecast of neurobot. Basic analysis of market sentiment.",
    theme: "roadmap-news",
    month: "11",
    year: "2017"
  },
  {
    title: "API for trading systems",
    text: "The launch of a beta api for developing trading robots on the platform Neurobot.",
    theme: "roadmap-ide",
    month: "01",
    year: "2018"
  },
  {
    title: "Improved news analysis",
    text: "Grouping news into semantic chains according to the positive and negative scenarios. This will enable neurobot to predict the emerging of news critical to the market.",
    theme: "roadmap-analysis",
    month: "03",
    year: "2018"
  },
  {
    title: "Adding new trading instruments",
    text: "Forecasting tokens. The overall improvement in accuracy of the algorithm.",
    theme: "roadmap-checklist",
    month: "04",
    year: "2018"
  },
  {
    title: "The release version of Neurobot",
    text: "Run the release version API for developing trading robots.",
    theme: "roadmap-rocket",
    month: "03",
    year: "2018"
  }
] %}
