{% set
list = [
  {
    text: "The NeuroBot is a neural network algorithm created for forecasting exchange rates of cryptocurrencies. The neural network collects and analyses Data 24/7 and provides forecasts for various cryptocurrencies' exchange rates. There are three types of forecasts: 24 hours, 48 hours and one week. Neural network algorithm implemented with algorithms of the essential aspects of technical analysis, such as patterns and signal indicators calculate forecast Data with one second time."
  },
  {
    text: "The program will be further upgraded by introducing the remaining elements of technical analysis (Fibonacci retracement, the Elliot wave theory , etc ) and fundamental analysis - market news algorithms will be implemented - one more neural network with functions to determine positive and negative tendencies of the market."
  }
]%}
