.about
	font-family: $montserrat
	overflow: hidden
	color: $blue
	position: relative
	background-color: $cyan
	padding-top: 145px
	min-width: 320px
	+md
		padding-top: 86px

	&:before
		content: ""
		top: auto
		bottom: 41%
		position: absolute
		width: 100%
		height: 50000%
		transform: skewY(30deg)
		background-color: $blue

	&__inner
		background-color: $white
		border-radius: 18px
		position: relative
		max-width: 1170px
		min-height: 1160px
		box-sizing: border-box
		margin:  0 auto 44px
		padding: 74px 50px 105px 95px
		+md
			min-height: 810px
			padding: 36px
		+sm
			margin: 0 auto
			max-width: 320px
			padding: 30px 15px

	&__big-box
		position: absolute
		.icon
			width: 0
			height: 0
		+md
			position: absolute
			left: -270px
			bottom: -90px
			.icon
				width: 333px
				height: 333px
		+sm
			display: none


	&__title
		font-size: 60px
		font-weight: 600
		color: $blue
		+md
			font-size: 48px
		+sm
			font-size: 36px

	&__list-wrapper
		display: flex
		flex-wrap: wrap
		+sm
			flex-wrap: nowrap
			flex-direction: column

	&__list
		width: 50%
		display: flex
		flex-wrap: wrap
		flex-direction: column
		+sm
			width: 100%

	&__item
		margin-top: 20px
		padding-right: 60px
		display: flex
		width: 100%
		.icon
			width: 50px
			height: 50px
			fill: $cyan
			flex-shrink: 0
			margin-right: 30px
		+md
			padding-right: 10px
		+sm
			.icon
				margin-right: 15px


	&__text
		font-weight: 300
		line-height: 2
		+md
			font-size: 14px
		+sm
			line-height: 1.4


