.button
	font-family: $montserrat
	font-size: 18px
	color: $white
	background-color: $blue
	text-decoration: none
	padding: 22px 68px
	border-radius: 50px

	&:hover
		background-color: rgba($blue, 0.7)
	&:active
		background-color: rgba($blue, 0.85)

	&--border-middle
		border-radius: 20px
		background-color: $white
		color: $blue
		padding: 10px 25px
		font-size: 16px
		&:hover
			background: rgba($white, 0.7)
		&:active
			background: rgba($white, 0.85)

	&--telegram
		text-align: center
		width: 370px
		color: $blue
		background-color: $white
		padding: 20px 0
		&:hover
			background: rgba($white, 0.7)
		&:active
			background: rgba($white, 0.85)

	&--rectangle
		box-sizing: border-box
		padding: 0

		border: 8px $dark-blue solid
		border-radius: 8px

		text-transform: uppercase
		font-weight: 600
		font-size: 30px

		&:hover
			background-color: $cyan
			border: none

		&:active
			background-color: rgba($cyan, 0.7)




