.faq
	min-width: 320px
	padding-top: 108px
	background-color: $cyan
	font-family: $montserrat
	color: $blue

	&__inner
		background-color: $white
		border-radius: 18px
		padding: 80px 96px 100px
		position: relative
		max-width: 1170px
		margin: auto
		+md
			padding: 42px 36px
		+sm
			padding: 34px 26px 6px 30px
			min-width: 320px

	&__box
		position: absolute
		left: -90px
		top: 90px
		.icon
			width: 116px
			height: 135px
		+md
			left: auto
			right: 40px
			top: -50px
		+sm
			right: auto
			left: -65px
			top: -90px

	&__title
		text-transform: capitalize
		font-size: 72px
		font-weight: 600
		line-height: 1
		+md
			font-size: 48px
		+sm
			font-size: 36px

	&__title-thin
		font-weight: 300

	&__list
		margin: 56px 0
		+md
			margin: 34px 0

	&__item
		position: relative
		margin-left: 55px
		line-height: 1.5
		&:before
			content: ""
			position: absolute

			top: 5px
			left: -55px

			width: 36px
			height: 36px
			background: url("../../img/arrow.png") no-repeat
		+sm
			&:before
				background-size: contain
				width: 30px
				height: 30px

		.faq__answer
			font-size: 0

	&__item--active
		&:before
			transform: rotate(90deg)

		.faq__answer
			font-size: 18px
			margin: 13px 0 28px
			line-height: 2
			font-weight: 300
			+md
				font-size: 14px



	&__question
		margin-bottom: 16px
		font-size: 30px
		font-weight: 600
		+md
			font-size: 24px
		+sm
			font-size: 18px







