.footer
	overflow: hidden
	position: relative
	font-family: $montserrat
	padding: 165px 0 62px
	color: $white
	background-color: $cyan
	min-width: 320px
	+sm
		padding-bottom: 45px
		padding-top: 65px

	&:before
		content: ""
		position: absolute
		width: 100%
		height: 50000%
		transform: skewY(30deg)
		background-color: $blue
		top: 105%
		+md
			top: 92%
		+sm
			top: 80%

	&__inner
		position: relative
		max-width: 972px
		margin: 0 auto
		+md
			margin: 0 72px
		+sm
			margin: 0 6px
			max-width: 320px
			margin: 0 auto

	&__box-cyan
		right: -308px
		top: -62px
		position: absolute
		.icon
			width: 116px
			height: 135px
		+md
			right: -22px
			top: -86px
		+sm
			right: -64px
			top: -50px

	&__box-blue
		left: -372px
		top: 92px
		position: absolute
		.icon
			width: 174px
			height: 201px
		+md
			left: 250px
			top: auto
			bottom: -180px
		+sm
			left: 196px
			bottom: 58px

	//Top block
	&__top
		justify-content: center
		height: 443px
		display: flex
		+md
			height: 380px
		+sm
			box-sizing: border-box
			padding: 0 15px
			flex-direction: column-reverse
			height: auto
			align-items: center

	&__telegram
		margin-top: 58px
		width: 48%
		display: flex
		flex-direction: column
		+md
			width: 45%
		+sm
			width: 100%

	&__button-telegram
		display: block
		margin: 12px 0
		font-weight: 600
		&:before
			background: url("../img/telegram.svg") no-repeat
			position: absolute
			display: block
			left: 50px
			content: ''
			width: 24px
			height: 24px
			+md
				left: 25px
			+sm
				left: 50px


	&__email-link
		margin: 16px 0 0 60px
		text-decoration: none
		color: $white
		font-weight: 600
		+md
			margin-left: 0
		+sm
			margin: 16px auto

	&__subscribe
		width: 52%
		display: flex
		flex-direction: column
		border: 16px $light-cyan solid
		border-radius: 8px
		+md
			width: 55%
		+sm
			width: 100%

	&__subscribe-title
		padding: 44px 50px 0
		line-height: 1
		font-size: 60px
		font-weight: 600
		+md
			font-size: 48px
			padding: 34px 32px 0
		+sm
			padding: 34px 34px 0
			font-size: 36px

	&__subscribe-title--thin
		font-weight: 200

	&__email-wrapper
		position: relative
		margin: 36px 50px 50px
		&:after
			content: ""
			position: absolute
			background-color: $light-cyan
			width: 100%
			height: 2px
			bottom: -15px
		+md
			margin: 34px 32px 0
		+sm
			margin: 19px 32px 0

	&__email
		font-family: $montserrat
		font-weight: 600
		padding-left: 12px
		width: 100%
		color: white
		background: none
		font-size: 24px
		&::placeholder
			color: $white
		+md
			font-size: 18px
		+sm
			font-size: 16px

	&__button-mail
		display: block
		margin: 12px 50px
		padding: 20px 0
		text-align: center
		+md
			margin: 44px 32px
		+sm
			padding: 20px 0
			margin: 40px 38px

	//Bottom block
	&__bottom
		display: flex
		flex-direction: row
		padding-top: 88px
		+sm
			padding-left: 15px
			padding-top: 200px

	&__social
		position: relative
		width: 100%
		+sm
			padding-bottom: 12px

	&__list
		display: flex

	&__item
		padding-right: 12px

	&__social-link
		display: block
		.icon
			fill: $white
			width: 36px
			height: 36px
		&:hover
			opacity: 0.7
		&:active
			opacity: 0.85

	&__info
		padding-top: 5px
		text-align: right
		width: 100%
		+sm
			text-align: left

	&__link
		margin-left: 38px
		font-weight: 600
		color: $white
		text-decoration: none
		+sm
			margin-left: 0
			margin-right: 39px

