.graph
	overflow: hidden
	position: relative
	background-color: $blue
	padding-top: 147px
	min-width: 320px
	+md
		overflow: visible
		padding-top: 60px
	+sm
		padding-top: 30px

	&__header
		position: relative
		font-family: $montserrat
		color: $white
		max-width: 996px
		margin: auto

	&__box
		position: absolute
		right: 104px
		top: -104px
		.icon
			width: 96px
			height: 112px
		+sm
			display: none

	&__big-box
		z-index: 1
		position: absolute
		left: -525px
		top: 54px
		.icon
			width: 333px
			height: 333px
		+sm
			display: none

	&__title
		font-weight: 600
		font-size: 60px
		line-height: 72px
		+md
			font-size: 48px
			line-height: 48px
		+sm
			text-align: center
			min-width: 290px
			margin: 0 auto
			font-size: 30px
			line-height: 30px

	&__description
		font-weight: 600
		font-size: 24px
		line-height: 48px
		+md
			font-size: 18px
			line-height: 36px
		+sm
			text-align: center
			min-width: 290px
			margin: 0 auto
			font-size: 16px
			line-height: 24px

	&__buttons
		margin-top: 32px
		margin-right: 25px
		display: flex
		justify-content: space-between
		+md
			margin-right: 0
		+sm
			justify-content: space-around
			flex-wrap: wrap
			min-width: 290px
			margin-left: -5px

	&__item
		+sm
			margin-left: 5px
			margin-top: 10px

	&__button
		width: 137px
		height: 83px
		+md
			width: 100px
			height: 62px
		+sm
			width: 90px
			height: 50px

	&__content
		position: relative
		width: 100%
		max-width: 1844px
		height: 564px
		margin: 26px auto 0
		background: $blue url("../img/forecast.png") no-repeat right
		+md
			width: auto
			margin: 42px 36px 0
		+sm
			height: 490px
			margin: 120px 6px 0 15px

	&__stat
		font-family: $montserrat
		color: $white
		position: absolute
		display: flex
		align-items: baseline
		top: 45px
		left: 485px
		+md
			top: 22px
			left: 52px
		+sm
			top: -90px
			left: 0px
			width: 100%
			justify-content: space-between

	&__stat-currency
		margin-right: 28px
		text-transform: uppercase
		font-size: 24px
		font-weight: 700
		display: flex
		flex-direction: column
		+sm
			font-size: 18px
		&:before,&:after
			content: "-"
			color: transparent
			font-size: 12px
			+sm
				font-size: 10px

	&__stat-item
		text-align: right
		margin: 0 18px
		+sm
			margin: 0 9px

	&__stat-title
		font-size: 12px
		font-weight: 400
		+sm
			font-size: 10px

	&__stat-value
		font-size: 24px
		font-weight: 700
		+sm
			font-size: 18px

	&__stat-change
		font-size: 12px
		font-weight: 400
		color: $green
		+sm
			font-size: 10px




