.hero
	position: relative
	height: 1300px
	background-color: $blue
	min-width: 320px
	+md
		height: 932px
	+sm
		height: 720px

	&__background
		overflow: hidden
		position: absolute
		width: 100%
		height: 100%
		&:before
			content: ""
			bottom: 46.5%
			position: absolute
			width: 100%
			height: 50000%
			transform: skewY(30deg)
			background-color: $cyan
			+md
				bottom: 38.5%
			+sm
				bottom: 22.5%

	&__inner
		position: relative
		max-width: 1170px
		margin: auto

	&__box
		position: absolute
		left: -260px
		top: 174px
		+md
			left: -54px
			top: 154px
		.icon
			width: 116px
			height: 135px
		+sm
			display: none

	&__box-blurred
		position: absolute
		right: -96px
		top: 336px
		z-index: 1
		+md
			right: -54px
			top: 300px
		.icon
			filter: blur(15px)
			width: 234px
			height: 258px
		+sm
			display: none

	&__text
		display: flex
		max-width: 996px
		margin: auto
		position: relative
		height: 578px
		+md
			height: 460px
		+sm
			height: 290px
			margin-bottom: 240px

	&__image
		background: url("../img/robot.png") no-repeat
		background-size: contain
		height: 820px
		width: 100%
		position: absolute
		top: -39px
		left: -90px
		z-index: 1
		+md
			height: 660px
			top: -37px
			left: -80px
		+sm
			top: 50px
			left: 0
			width: 100vw
			min-width: 320px
			background-size: contain
			background: url("../img/robot-320w.png") no-repeat center


	&__title-wrapper
		z-index: 1
		font-family: $montserrat
		color: $white
		margin-left: auto
		text-align: center
		width: 62%
		+sm
			height: 220px
			max-width: 290px
			margin: 0 auto
			width: 100%

	&__title
		font-weight: 600
		font-size: 72px
		margin-top: 15px
		line-height: 1.1
		+md
			font-size: 48px
		+sm
			font-size: 35px

	&__description
		margin-top: 18px
		font-weight: 600
		font-size: 30px
		+md
			font-size: 18px
		+sm
			margin-top: 12px

	&__button
		display: inline-block
		margin-top: 28px
		+sm
			padding: 14px 0
			width: 100%

	&__video
		position: relative
		display: flex
		align-items: center
		height: 722px
		background: $white
		border-radius: 10px
		padding: 49px
		+md
			padding: 26px
			height: 472px
		+sm
			height: 190px
			padding: 9px
			min-width: 290px
			margin: auto

	&__video-container
		display: flex
		max-width: 1080px
		flex-grow: 1
		height: 624px
		background: $black
		border-radius: 10px
		+md
			height: 420px
		+sm
			height: 170px

	&__video-play
		width: 120px
		height: 120px
		margin: auto
		background: url("../../img/play-button.svg") no-repeat center
		background-size: cover
		+sm
			width: 60px
			height: 60px

		&:hover
			opacity: 0.7

		&:active
			opacity: 0.85






