.roadmap
	min-width: 320px
	overflow: hidden
	position: relative
	height: 2730px
	background-color: $cyan
	padding-top: 102px
	box-sizing: content-box
	+md
		padding-top: 95px
		height: 1860px
	+sm
		overflow: visible
		padding-top: 0
		height: auto


	&__bg
		pointer-events: none
		position: absolute
		width: 100%
		height: 2730px
		background: url("../img/roadmap.png") no-repeat calc(50% + 324px)
		+md
			height: 1860px
			background: url("../img/roadmap-768w.png") no-repeat calc(50% + 90px)
		+sm
			height: auto
			background: none


	&__wrapper
		max-width: 1170px
		margin: auto

	&__title
		line-height: 0.85
		margin-top: 86px
		margin-left: 94px
		letter-spacing: 3.5px
		+md
			letter-spacing: 2.5px
			margin-top: 62px
			margin-left: 38px
			font-size: 54px
		+sm
			line-height: 1
			margin-top: 0
			padding-top: 64px
			margin-left: 12px

	&__title-small
		font-size: 48px
		margin-left: 5px
		letter-spacing: 2.5px
		+md
			font-size: 36px
			letter-spacing: 1.75px
		+sm
			font-size: 30px

	&__list
		display: flex
		flex-direction: column
		margin-top: 54px
		+md
			margin-top: 40px
		+sm
			margin-top: -178px

	&__item
		display: flex
		position: relative
		width: 50%
		margin-top: 73px
		height: 301px
		box-sizing: border-box
		&:nth-child(3n+2)
			align-self: flex-end
		&:nth-child(3n+3)
			padding-left: 65px
		+md
			margin-top: 56px
			height: 225px
			&:nth-child(3n)
				padding-left: 20px
		+sm
			height: auto
			padding-bottom: 38px
			&:nth-child(6n+2),&:nth-child(6n+3)
				width: auto
				align-self: auto
				margin-top: 0
				margin-left: calc((100% * 215 - 51600px)/430)
				padding-left: 0
				border-left: 8px $dark-cyan dotted
				.roadmap__textarea
					margin-left: 42px
					padding-right: 16px
			&:nth-child(6n+5),&:nth-child(6n+6)
				align-self: auto
				width: auto
				margin-top: 0
				margin-right: calc((100% * 218 - 56000px)/430)
				padding-left: 0
				border-right: 8px $dark-cyan dotted
				.roadmap__textarea
					padding-right: 36px
			&:nth-child(2),&:nth-child(3)
				.roadmap__date
					color: $blue
					.icon
						fill: $white
			&:nth-child(2)
				border-left: 8px $white solid


	&__item_decorative
		display: none
		+sm
			width: 100%
			margin-top: 0
			display: block

	&__decorative_first
		+sm
			height: 305px
			background: url("../img/roadmap-decor-first.png") no-repeat calc(50% + 56px)

	&__decorative_second
		+sm
			background: url("../img/roadmap-decor-second.png") no-repeat calc(50% + 2px)
			height: 185px

	&__decorative_third
		+sm
			background: url("../img/roadmap-decor-third.png") no-repeat calc(50% + 10px)
			height: 191px

	&__decorative_last
		+sm
			background: url("../img/roadmap-decor-fourth.png") no-repeat calc(50% + 25px)
			height: 195px

	&__date
		font-family: $montserrat
		display: none
		+sm
			color: $white
			display: block
			position: absolute
			.icon
				fill: $dark-cyan
				position: absolute
				width: 54px
				height: 54px

	&__date-left
		left: -32px
		top: -2px

	&__date-right
		right: 0
		top: -2

	&__date-text
		position: relative
		top: 8px
		left: 18px

	&__date-month

	&__date-year
		font-size: 9px

	&__icon
		margin-top: 36px
		margin-left: 28px
		.icon
			fill: $white
			width: 48px
			height: 48px
		+md
			margin-top: 26px
			margin-left: 24px
			.icon
				width: 36px
				height: 36px
		+sm
			display: none

	&__textarea
		color: $white
		font-family: $montserrat
		margin-left: 22px
		padding-right: 80px
		+md
			padding-right: 50px
			margin-left: 16px

	&__item-title
		line-height: 1.1
		font-weight: 600
		font-size: 36px
		margin-top: 30px
		+md
			margin-top: 24px
			font-size: 27px
		+sm
			margin-top: 0

	&__item-description
		font-weight: 300
		line-height: 2
		margin-top: 6px
		+md
			font-size: 14px
			line-height: 1.6


