.icon-blue-box {
  width: 0.87em;
  height: 1em;
  fill: initial;
}
.icon-case {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-clock {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-cpu {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-cyan-box {
  width: 0.86em;
  height: 1em;
  fill: initial;
}
.icon-diagramm {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-logo {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.icon-network {
  width: 1.39em;
  height: 1em;
  fill: initial;
}
.icon-roadmap-analysis {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-roadmap-checklist {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-roadmap-graph {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-roadmap-ide {
  width: 1.14em;
  height: 1em;
  fill: initial;
}
.icon-roadmap-news {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-roadmap-rocket {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-trio-dots {
  width: 1.03em;
  height: 1em;
  fill: initial;
}
.icon-vkontakte {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-youtube {
  width: 1em;
  height: 1em;
  fill: initial;
}
